<a href="https://colab.research.google.com/github/piccigus/-Explorando-Dados/blob/main/Explorando_Dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercício simples 01

In [10]:
def Soma(var1:float,var2:float) -> int:

    """ Esta função retorna o resultado da soma entre dois números.
      var1: variável numérica
      var2: variável numérica
      resultado: resultado da soma de var1 e var2
      """
    resultado = var1 + var2
    print('O resultado da soma é: ', resultado)

    if resultado > 10:
     print('Só Alegria!!')

    return resultado

In [11]:
Soma (1,10)

O resultado da soma é:  11
Só Alegria!!

11

**Configurando o Kernel Spark**

In [12]:
# instalar as dependências
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

In [13]:
# configurar as variáveis de ambiente
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"
 
# tornar o pyspark "importável"
import findspark
findspark.init('spark-2.4.4-bin-hadoop2.7')

In [14]:
from pyspark.sql import SparkSession
 
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

**Explorando os Dados**

In [15]:

# carregar dados do Público de Modelagem
app_train = spark.read.csv("/content/drive/MyDrive/SQLMMs/InputData/application_train.csv", inferSchema=True, header=True)
 
app_train.registerTempTable('app_train')
 
app_train.count()

307511

In [16]:

# carregar dados da Tabela Bureau
bureau = spark.read.csv("/content/drive/MyDrive/SQLMMs/InputData/bureau.csv", inferSchema=True, header=True)
 
bureau.registerTempTable('bureau')
 
bureau.count()

1716428

**Verificando variáveis da tabela primcipal**

In [17]:
app_train.printSchema()

root
 |-- SK_ID_CURR: integer (nullable = true)
 |-- TARGET: integer (nullable = true)
 |-- NAME_CONTRACT_TYPE: string (nullable = true)
 |-- CODE_GENDER: string (nullable = true)
 |-- FLAG_OWN_CAR: string (nullable = true)
 |-- FLAG_OWN_REALTY: string (nullable = true)
 |-- CNT_CHILDREN: integer (nullable = true)
 |-- AMT_INCOME_TOTAL: double (nullable = true)
 |-- AMT_CREDIT: double (nullable = true)
 |-- AMT_ANNUITY: double (nullable = true)
 |-- AMT_GOODS_PRICE: double (nullable = true)
 |-- NAME_TYPE_SUITE: string (nullable = true)
 |-- NAME_INCOME_TYPE: string (nullable = true)
 |-- NAME_EDUCATION_TYPE: string (nullable = true)
 |-- NAME_FAMILY_STATUS: string (nullable = true)
 |-- NAME_HOUSING_TYPE: string (nullable = true)
 |-- REGION_POPULATION_RELATIVE: double (nullable = true)
 |-- DAYS_BIRTH: integer (nullable = true)
 |-- DAYS_EMPLOYED: integer (nullable = true)
 |-- DAYS_REGISTRATION: double (nullable = true)
 |-- DAYS_ID_PUBLISH: integer (nullable = true)
 |-- OWN_CAR_AGE: double (nullable = true)
 |-- FLAG_MOBIL: integer (nullable = true)
 |-- FLAG_EMP_PHONE: integer (nullable = true)
 |-- FLAG_WORK_PHONE: integer (nullable = true)
 |-- FLAG_CONT_MOBILE: integer (nullable = true)
 |-- FLAG_PHONE: integer (nullable = true)
 |-- FLAG_EMAIL: integer (nullable = true)
 |-- OCCUPATION_TYPE: string (nullable = true)
 |-- CNT_FAM_MEMBERS: double (nullable = true)
 |-- REGION_RATING_CLIENT: integer (nullable = true)
 |-- REGION_RATING_CLIENT_W_CITY: integer (nullable = true)
 |-- WEEKDAY_APPR_PROCESS_START: string (nullable = true)
 |-- HOUR_APPR_PROCESS_START: integer (nullable = true)
 |-- REG_REGION_NOT_LIVE_REGION: integer (nullable = true)
 |-- REG_REGION_NOT_WORK_REGION: integer (nullable = true)
 |-- LIVE_REGION_NOT_WORK_REGION: integer (nullable = true)
 |-- REG_CITY_NOT_LIVE_CITY: integer (nullable = true)
 |-- REG_CITY_NOT_WORK_CITY: integer (nullable = true)
 |-- LIVE_CITY_NOT_WORK_CITY: integer (nullable = true)
 |-- ORGANIZATION_TYPE: string (nullable = true)
 |-- EXT_SOURCE_1: double (nullable = true)
 |-- EXT_SOURCE_2: double (nullable = true)
 |-- EXT_SOURCE_3: double (nullable = true)
 |-- APARTMENTS_AVG: double (nullable = true)
 |-- BASEMENTAREA_AVG: double (nullable = true)
 |-- YEARS_BEGINEXPLUATATION_AVG: double (nullable = true)
 |-- YEARS_BUILD_AVG: double (nullable = true)
 |-- COMMONAREA_AVG: double (nullable = true)
 |-- ELEVATORS_AVG: double (nullable = true)
 |-- ENTRANCES_AVG: double (nullable = true)
 |-- FLOORSMAX_AVG: double (nullable = true)
 |-- FLOORSMIN_AVG: double (nullable = true)
 |-- LANDAREA_AVG: double (nullable = true)
 |-- LIVINGAPARTMENTS_AVG: double (nullable = true)
 |-- LIVINGAREA_AVG: double (nullable = true)
 |-- NONLIVINGAPARTMENTS_AVG: double (nullable = true)
 |-- NONLIVINGAREA_AVG: double (nullable = true)
 |-- APARTMENTS_MODE: double (nullable = true)
 |-- BASEMENTAREA_MODE: double (nullable = true)
 |-- YEARS_BEGINEXPLUATATION_MODE: double (nullable = true)
 |-- YEARS_BUILD_MODE: double (nullable = true)
 |-- COMMONAREA_MODE: double (nullable = true)
 |-- ELEVATORS_MODE: double (nullable = true)
 |-- ENTRANCES_MODE: double (nullable = true)
 |-- FLOORSMAX_MODE: double (nullable = true)
 |-- FLOORSMIN_MODE: double (nullable = true)
 |-- LANDAREA_MODE: double (nullable = true)
 |-- LIVINGAPARTMENTS_MODE: double (nullable = true)
 |-- LIVINGAREA_MODE: double (nullable = true)
 |-- NONLIVINGAPARTMENTS_MODE: double (nullable = true)
 |-- NONLIVINGAREA_MODE: double (nullable = true)
 |-- APARTMENTS_MEDI: double (nullable = true)
 |-- BASEMENTAREA_MEDI: double (nullable = true)
 |-- YEARS_BEGINEXPLUATATION_MEDI: double (nullable = true)
 |-- YEARS_BUILD_MEDI: double (nullable = true)
 |-- COMMONAREA_MEDI: double (nullable = true)
 |-- ELEVATORS_MEDI: double (nullable = true)
 |-- ENTRANCES_MEDI: double (nullable = true)
 |-- FLOORSMAX_MEDI: double (nullable = true)
 |-- FLOORSMIN_MEDI: double (nullable = true)
 |-- LANDAREA_MEDI: double (nullable = true)
 |-- LIVINGAPARTMENTS_MEDI: double (nullable = true)
 |-- LIVINGAREA_MEDI: double (nullable = true)
 |-- NONLIVINGAPARTMENTS_MEDI: double (nullable = true)
 |-- NONLIVINGAREA_MEDI: double (nullable = true)
 |-- FONDKAPREMONT_MODE: string (nullable = true)
 |-- HOUSETYPE_MODE: string (nullable = true)
 |-- TOTALAREA_MODE: double (nullable = true)
 |-- WALLSMATERIAL_MODE: string (nullable = true)
 |-- EMERGENCYSTATE_MODE: string (nullable = true)
 |-- OBS_30_CNT_SOCIAL_CIRCLE: double (nullable = true)
 |-- DEF_30_CNT_SOCIAL_CIRCLE: double (nullable = true)
 |-- OBS_60_CNT_SOCIAL_CIRCLE: double (nullable = true)
 |-- DEF_60_CNT_SOCIAL_CIRCLE: double (nullable = true)
 |-- DAYS_LAST_PHONE_CHANGE: double (nullable = true)
 |-- FLAG_DOCUMENT_2: integer (nullable = true)
 |-- FLAG_DOCUMENT_3: integer (nullable = true)
 |-- FLAG_DOCUMENT_4: integer (nullable = true)
 |-- FLAG_DOCUMENT_5: integer (nullable = true)
 |-- FLAG_DOCUMENT_6: integer (nullable = true)
 |-- FLAG_DOCUMENT_7: integer (nullable = true)
 |-- FLAG_DOCUMENT_8: integer (nullable = true)
 |-- FLAG_DOCUMENT_9: integer (nullable = true)
 |-- FLAG_DOCUMENT_10: integer (nullable = true)
 |-- FLAG_DOCUMENT_11: integer (nullable = true)
 |-- FLAG_DOCUMENT_12: integer (nullable = true)
 |-- FLAG_DOCUMENT_13: integer (nullable = true)
 |-- FLAG_DOCUMENT_14: integer (nullable = true)
 |-- FLAG_DOCUMENT_15: integer (nullable = true)
 |-- FLAG_DOCUMENT_16: integer (nullable = true)
 |-- FLAG_DOCUMENT_17: integer (nullable = true)
 |-- FLAG_DOCUMENT_18: integer (nullable = true)
 |-- FLAG_DOCUMENT_19: integer (nullable = true)
 |-- FLAG_DOCUMENT_20: integer (nullable = true)
 |-- FLAG_DOCUMENT_21: integer (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_HOUR: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_DAY: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_WEEK: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_MON: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_QRT: double (nullable = true)
 |-- AMT_REQ_CREDIT_BUREAU_YEAR: double (nullable = true)

In [18]:
 string_list = [item[0] for item in app_train.dtypes if item[1].startswith('string')]
 string_list

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'OCCUPATION_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'ORGANIZATION_TYPE',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE']

**Exercícios sobre a tabela de modelagem**

Calcule a volumetria e taxa de evento para cada domínio de cada uma das 

variáveis tipo string.

In [19]:
spark.sql("""
            select 
              NAME_CONTRACT_TYPE,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              NAME_CONTRACT_TYPE
            order by 
              AVG_TARGET desc
""").show()

+------------------+----------+------+
|NAME_CONTRACT_TYPE|AVG_TARGET|Volume|
+------------------+----------+------+
|        Cash loans|      8.35|278232|
|   Revolving loans|      5.48| 29279|
+------------------+----------+------+

In [25]:
spark.sql("""
            select 
              CODE_GENDER,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              CODE_GENDER
            order by 
              AVG_TARGET desc
""").show()

+-----------+----------+------+
|CODE_GENDER|AVG_TARGET|Volume|
+-----------+----------+------+
|          M|     10.14|105059|
|          F|       7.0|202448|
|        XNA|       0.0|     4|
+-----------+----------+------+

In [21]:
spark.sql("""
            select 
              FLAG_OWN_CAR,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              FLAG_OWN_CAR
            order by 
              AVG_TARGET desc
""").show()

+------------+----------+------+
|FLAG_OWN_CAR|AVG_TARGET|Volume|
+------------+----------+------+
|           N|       8.5|202924|
|           Y|      7.24|104587|
+------------+----------+------+

In [22]:
spark.sql("""
            select 
              FLAG_OWN_REALTY,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              FLAG_OWN_REALTY
            order by 
              AVG_TARGET desc
""").show()

+---------------+----------+------+
|FLAG_OWN_REALTY|AVG_TARGET|Volume|
+---------------+----------+------+
|              N|      8.32| 94199|
|              Y|      7.96|213312|
+---------------+----------+------+

Analise de um caso onde quem faz empréstimo do tipo rotativo (Revolving loans) possui menor taxa de evento do que quem faz empréstimo do tipo dinheiro (Cash loans).

In [23]:
spark.sql("""
            select 
              OCCUPATION_TYPE,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              OCCUPATION_TYPE
            order by 
              AVG_TARGET desc
""").show()

+--------------------+----------+------+
|     OCCUPATION_TYPE|AVG_TARGET|Volume|
+--------------------+----------+------+
|  Low-skill Laborers|     17.15|  2093|
|             Drivers|     11.33| 18603|
|Waiters/barmen staff|     11.28|  1348|
|      Security staff|     10.74|  6721|
|            Laborers|     10.58| 55186|
|       Cooking staff|     10.44|  5946|
|         Sales staff|      9.63| 32102|
|      Cleaning staff|      9.61|  4653|
|       Realty agents|      7.86|   751|
|         Secretaries|      7.05|  1305|
|      Medicine staff|       6.7|  8537|
|Private service s...|       6.6|  2652|
|                null|      6.51| 96391|
|            IT staff|      6.46|   526|
|            HR staff|      6.39|   563|
|          Core staff|       6.3| 27570|
|            Managers|      6.21| 21371|
|High skill tech s...|      6.16| 11380|
|         Accountants|      4.83|  9813|
+--------------------+----------+------+

In [24]:
spark.sql("""
            select 
              NAME_EDUCATION_TYPE,
              round(100*avg(TARGET),2) as AVG_TARGET,
              count(*) as Volume
 
            from 
              app_train
            group by 
              NAME_EDUCATION_TYPE
            order by 
              AVG_TARGET desc
""").show()

+--------------------+----------+------+
| NAME_EDUCATION_TYPE|AVG_TARGET|Volume|
+--------------------+----------+------+
|     Lower secondary|     10.93|  3816|
|Secondary / secon...|      8.94|218391|
|   Incomplete higher|      8.48| 10277|
|    Higher education|      5.36| 74863|
|     Academic degree|      1.83|   164|
+--------------------+----------+------+

# Verificando a tabela de modelagem

In [26]:
app_train.show()

+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-----------------+--------------------------+----------+-------------+-----------------+---------------+-----------+----------+--------------+---------------+----------------+----------+----------+---------------+---------------+--------------------+---------------------------+--------------------------+-----------------------+--------------------------+--------------------------+---------------------------+----------------------+----------------------+-----------------------+--------------------+-------------------+-------------------+-------------------+--------------+----------------+---------------------------+------------------+--------------+-------------+-------------+-------------+-------------+------------+--------------------+--------------+-----------------------+-----------------+---------------+-----------------+----------------------------+----------------+---------------+--------------+--------------+--------------+--------------+-------------+---------------------+---------------+------------------------+------------------+---------------+-----------------+----------------------------+------------------+---------------+--------------+--------------+--------------+--------------+-------------+---------------------+---------------+------------------------+------------------+------------------+--------------+--------------+------------------+-------------------+------------------------+------------------------+------------------------+------------------------+----------------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+--------------------------+-------------------------+--------------------------+-------------------------+-------------------------+--------------------------+
|SK_ID_CURR|TARGET|NAME_CONTRACT_TYPE|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|AMT_CREDIT|AMT_ANNUITY|AMT_GOODS_PRICE|NAME_TYPE_SUITE|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|REGION_POPULATION_RELATIVE|DAYS_BIRTH|DAYS_EMPLOYED|DAYS_REGISTRATION|DAYS_ID_PUBLISH|OWN_CAR_AGE|FLAG_MOBIL|FLAG_EMP_PHONE|FLAG_WORK_PHONE|FLAG_CONT_MOBILE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|REGION_RATING_CLIENT|REGION_RATING_CLIENT_W_CITY|WEEKDAY_APPR_PROCESS_START|HOUR_APPR_PROCESS_START|REG_REGION_NOT_LIVE_REGION|REG_REGION_NOT_WORK_REGION|LIVE_REGION_NOT_WORK_REGION|REG_CITY_NOT_LIVE_CITY|REG_CITY_NOT_WORK_CITY|LIVE_CITY_NOT_WORK_CITY|   ORGANIZATION_TYPE|       EXT_SOURCE_1|       EXT_SOURCE_2|       EXT_SOURCE_3|APARTMENTS_AVG|BASEMENTAREA_AVG|YEARS_BEGINEXPLUATATION_AVG|   YEARS_BUILD_AVG|COMMONAREA_AVG|ELEVATORS_AVG|ENTRANCES_AVG|FLOORSMAX_AVG|FLOORSMIN_AVG|LANDAREA_AVG|LIVINGAPARTMENTS_AVG|LIVINGAREA_AVG|NONLIVINGAPARTMENTS_AVG|NONLIVINGAREA_AVG|APARTMENTS_MODE|BASEMENTAREA_MODE|YEARS_BEGINEXPLUATATION_MODE|YEARS_BUILD_MODE|COMMONAREA_MODE|ELEVATORS_MODE|ENTRANCES_MODE|FLOORSMAX_MODE|FLOORSMIN_MODE|LANDAREA_MODE|LIVINGAPARTMENTS_MODE|LIVINGAREA_MODE|NONLIVINGAPARTMENTS_MODE|NONLIVINGAREA_MODE|APARTMENTS_MEDI|BASEMENTAREA_MEDI|YEARS_BEGINEXPLUATATION_MEDI|  YEARS_BUILD_MEDI|COMMONAREA_MEDI|ELEVATORS_MEDI|ENTRANCES_MEDI|FLOORSMAX_MEDI|FLOORSMIN_MEDI|LANDAREA_MEDI|LIVINGAPARTMENTS_MEDI|LIVINGAREA_MEDI|NONLIVINGAPARTMENTS_MEDI|NONLIVINGAREA_MEDI|FONDKAPREMONT_MODE|HOUSETYPE_MODE|TOTALAREA_MODE|WALLSMATERIAL_MODE|EMERGENCYSTATE_MODE|OBS_30_CNT_SOCIAL_CIRCLE|DEF_30_CNT_SOCIAL_CIRCLE|OBS_60_CNT_SOCIAL_CIRCLE|DEF_60_CNT_SOCIAL_CIRCLE|DAYS_LAST_PHONE_CHANGE|FLAG_DOCUMENT_2|FLAG_DOCUMENT_3|FLAG_DOCUMENT_4|FLAG_DOCUMENT_5|FLAG_DOCUMENT_6|FLAG_DOCUMENT_7|FLAG_DOCUMENT_8|FLAG_DOCUMENT_9|FLAG_DOCUMENT_10|FLAG_DOCUMENT_11|FLAG_DOCUMENT_12|FLAG_DOCUMENT_13|FLAG_DOCUMENT_14|FLAG_DOCUMENT_15|FLAG_DOCUMENT_16|FLAG_DOCUMENT_17|FLAG_DOCUMENT_18|FLAG_DOCUMENT_19|FLAG_DOCUMENT_20|FLAG_DOCUMENT_21|AMT_REQ_CREDIT_BUREAU_HOUR|AMT_REQ_CREDIT_BUREAU_DAY|AMT_REQ_CREDIT_BUREAU_WEEK|AMT_REQ_CREDIT_BUREAU_MON|AMT_REQ_CREDIT_BUREAU_QRT|AMT_REQ_CREDIT_BUREAU_YEAR|
+----------+------+------------------+-----------+------------+---------------+------------+----------------+----------+-----------+---------------+---------------+--------------------+--------------------+--------------------+-----------------+--------------------------+----------+-------------+-----------------+---------------+-----------+----------+--------------+---------------+----------------+----------+----------+---------------+---------------+--------------------+---------------------------+--------------------------+-----------------------+--------------------------+--------------------------+---------------------------+----------------------+----------------------+-----------------------+--------------------+-------------------+-------------------+-------------------+--------------+----------------+---------------------------+------------------+--------------+-------------+-------------+-------------+-------------+------------+--------------------+--------------+-----------------------+-----------------+---------------+-----------------+----------------------------+----------------+---------------+--------------+--------------+--------------+--------------+-------------+---------------------+---------------+------------------------+------------------+---------------+-----------------+----------------------------+------------------+---------------+--------------+--------------+--------------+--------------+-------------+---------------------+---------------+------------------------+------------------+------------------+--------------+--------------+------------------+-------------------+------------------------+------------------------+------------------------+------------------------+----------------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+----------------+--------------------------+-------------------------+--------------------------+-------------------------+-------------------------+--------------------------+
|    100002|     1|        Cash loans|          M|           N|              Y|           0|        202500.0|  406597.5|    24700.5|       351000.0|  Unaccompanied|             Working|Secondary / secon...|Single / not married|House / apartment|                  0.018801|     -9461|         -637|          -3648.0|          -2120|       null|         1|             1|              0|               1|         1|         0|       Laborers|            1.0|                   2|                          2|                 WEDNESDAY|                     10|                         0|                         0|                          0|                     0|                     0|                      0|Business Entity T...|0.08303696739132256| 0.2629485927471776|0.13937578009978951|        0.0247|          0.0369|                     0.9722|            0.6192|        0.0143|          0.0|        0.069|       0.0833|        0.125|      0.0369|              0.0202|         0.019|                    0.0|              0.0|         0.0252|           0.0383|                      0.9722|          0.6341|         0.0144|           0.0|         0.069|        0.0833|         0.125|       0.0377|                0.022|         0.0198|                     0.0|               0.0|          0.025|           0.0369|                      0.9722|            0.6243|         0.0144|           0.0|         0.069|        0.0833|         0.125|       0.0375|               0.0205|         0.0193|                     0.0|               0.0|  reg oper account|block of flats|        0.0149|      Stone, brick|                 No|                     2.0|                     2.0|                     2.0|                     2.0|               -1134.0|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|                       0.0|                      0.0|                       0.0|                      0.0|                      0.0|                       1.0|
|    100003|     0|        Cash loans|          F|           N|              N|           0|        270000.0| 1293502.5|    35698.5|      1129500.0|         Family|       State servant|    Higher education|             Married|House / apartment|      0.003540999999999999|    -16765|        -1188|          -1186.0|           -291|       null|         1|             1|              0|               1|         1|         0|     Core staff|            2.0|                   1|                          1|                    MONDAY|                     11|                         0|                         0|                          0|                     0|                     0|                      0|              School| 0.3112673113812225| 0.6222457752555098|               null|        0.0959|          0.0529|                     0.9851|0.7959999999999999|        0.0605|         0.08|       0.0345|       0.2917|       0.3333|       0.013|              0.0773|        0.0549|                 0.0039|           0.0098|         0.0924|           0.0538|                      0.9851|           0.804|         0.0497|        0.0806|        0.0345|        0.2917|        0.3333|       0.0128|                0.079|         0.0554|                     0.0|               0.0|         0.0968|           0.0529|                      0.9851|            0.7987|         0.0608|          0.08|        0.0345|        0.2917|        0.3333|       0.0132|               0.0787|         0.0558|                  0.0039|              0.01|  reg oper account|block of flats|        0.0714|             Block|                 No|                     1.0|                     0.0|                     1.0|                     0.0|                -828.0|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|                       0.0|                      0.0|                       0.0|                      0.0|                      0.0|                       0.0|
|    100004|     0|   Revolving loans|          M|           Y|              Y|           0|         67500.0|  135000.0|     6750.0|       135000.0|  Unaccompanied|             Working|Secondary / secon...|Single / not married|House / apartment|                  0.010032|    -19046|         -225|          -4260.0|          -2531|       26.0|         1|             1|              1|               1|         1|         0|       Laborers|            1.0|                   2|                          2|                    MONDAY|                      9|                         0|                         0|                          0|                     0|                     0|                      0|          Government|               null| 0.5559120833904428| 0.7295666907060153|          null|            null|                       null|              null|          null|         null|         null|         null|         null|        null|                null|          null|                   null|             null|           null|             null|                        null|            null|           null|          null|          null|          null|          null|         null|                 null|           null|                    null|              null|           null|             null|                        null|              null|           null|          null|          null|          null|          null|         null|                 null|           null|                    null|              null|              null|          null|          null|              null|               null|                     0.0|                     0.0|                     0.0|                     0.0|                -815.0|              0|              0|              0|              0|              0|              0|              0|              0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|                       0.0|                      0.0|                       0.0|                      0.0|                      0.0|                       0.0|
|    100006|     0|        Cash loans|          F|           N|              Y|           0|        135000.0|  312682.5|    29686.5|       297000.0|  Unaccompanied|             Working|Secondary / secon...|      Civil marriage|House / apartment|                  0.008019|    -19005|        -3039|          -9833.0|          -2437|       null|         1|             1|              0|               1|         0|         0|       Laborers|            2.0|                   2|                          2|                 WEDNESDAY|                     17|                         0|                         0|                          0|                     0|                     0|                      0|Business Entity T...|               null| 0.6504416904014653|               null|          null|            null|                       null|              null|          null|         null|         null|         null|         null|        null|                null|          null|                   null|             null|           null|             null|                        null|            null|           null|          null|          null|          null|          null|         null|                 null|           null|                    null|              null|           null|             null|                        null|              null|           null|          null|          null|          null|          null|         null|                 null|           null|                    null|              null|              null|          null|          null|              null|               null|                     2.0|                     0.0|                     2.0|                     0.0|                -617.0|              0|              1|              0|              0|              0|              0|              0|              0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|                      null|                     null|                      null|                     null|                     null|                      null|
|    100007|     0|        Cash loans|          M|           N|              Y|           0|        121500.0|  513000.0|    21865.5|       513000.0|  Unaccompanied|             Working|Secondary / secon...|Single / not married|House / apartment|                  0.028663|    -19932|        -3038|          -4311.0|          -3458|       null|         1|             1|              0|               1|         0|         0|     Core staff|            1.0|                   2|                          2|                  THURSDAY|                     11|                         0|                         0|                          0|                     0|                     1|                      1|            Religion|               null| 0.3227382869704046|               null|          null|            null|                       null|              null|          null|         null|         null|         null|         null|        null|                null|          null|                   null|             null|           null|             null|                        null|            null|           null|          null|          null|          null|          null|         null|                 null|           null|                    null|              null|           null|             null|                        null|              null|           null|          null|          null|          null|          null|         null|                 null|           null|                    null|              null|              null|          null|          null|              null|               null|                     0.0|                     0.0|                     0.0|                     0.0|               -1106.0|              0|              0|              0|              0|              0|              0|              1|              0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|               0|                       0.0|                      0.0|                       0.0|                      0.0|                      0.0|                       0.0|

In [27]:
bureau.show()

+----------+------------+-------------+---------------+-----------+------------------+-------------------+-----------------+----------------------+------------------+--------------+-------------------+--------------------+----------------------+---------------+------------------+-----------+
|SK_ID_CURR|SK_ID_BUREAU|CREDIT_ACTIVE|CREDIT_CURRENCY|DAYS_CREDIT|CREDIT_DAY_OVERDUE|DAYS_CREDIT_ENDDATE|DAYS_ENDDATE_FACT|AMT_CREDIT_MAX_OVERDUE|CNT_CREDIT_PROLONG|AMT_CREDIT_SUM|AMT_CREDIT_SUM_DEBT|AMT_CREDIT_SUM_LIMIT|AMT_CREDIT_SUM_OVERDUE|    CREDIT_TYPE|DAYS_CREDIT_UPDATE|AMT_ANNUITY|
+----------+------------+-------------+---------------+-----------+------------------+-------------------+-----------------+----------------------+------------------+--------------+-------------------+--------------------+----------------------+---------------+------------------+-----------+
|    215354|     5714462|       Closed|     currency 1|       -497|                 0|             -153.0|           -153.0|                  null|                 0|       91323.0|                0.0|                null|                   0.0|Consumer credit|              -131|       null|
|    215354|     5714463|       Active|     currency 1|       -208|                 0|             1075.0|             null|                  null|                 0|      225000.0|           171342.0|                null|                   0.0|    Credit card|               -20|       null|
|    215354|     5714464|       Active|     currency 1|       -203|                 0|              528.0|             null|                  null|                 0|      464323.5|               null|                null|                   0.0|Consumer credit|               -16|       null|
|    215354|     5714465|       Active|     currency 1|       -203|                 0|               null|             null|                  null|                 0|       90000.0|               null|                null|                   0.0|    Credit card|               -16|       null|
|    215354|     5714466|       Active|     currency 1|       -629|                 0|             1197.0|             null|               77674.5|                 0|     2700000.0|               null|                null|                   0.0|Consumer credit|               -21|       null|
|    215354|     5714467|       Active|     currency 1|       -273|                 0|            27460.0|             null|                   0.0|                 0|      180000.0|           71017.38|           108982.62|                   0.0|    Credit card|               -31|       null|
|    215354|     5714468|       Active|     currency 1|        -43|                 0|               79.0|             null|                   0.0|                 0|       42103.8|            42103.8|                 0.0|                   0.0|Consumer credit|               -22|       null|
|    162297|     5714469|       Closed|     currency 1|      -1896|                 0|            -1684.0|          -1710.0|               14985.0|                 0|      76878.45|                0.0|                 0.0|                   0.0|Consumer credit|             -1710|       null|
|    162297|     5714470|       Closed|     currency 1|      -1146|                 0|             -811.0|           -840.0|                   0.0|                 0|      103007.7|                0.0|                 0.0|                   0.0|Consumer credit|              -840|       null|
|    162297|     5714471|       Active|     currency 1|      -1146|                 0|             -484.0|             null|                   0.0|                 0|        4500.0|                0.0|                 0.0|                   0.0|    Credit card|              -690|       null|
|    162297|     5714472|       Active|     currency 1|      -1146|                 0|             -180.0|             null|                   0.0|                 0|      337500.0|                0.0|                 0.0|                   0.0|    Credit card|              -690|       null|
|    162297|     5714473|       Closed|     currency 1|      -2456|                 0|             -629.0|           -825.0|                  null|                 0|      675000.0|                0.0|                 0.0|                   0.0|Consumer credit|              -706|       null|
|    162297|     5714474|       Active|     currency 1|       -277|                 0|             5261.0|             null|                   0.0|                 0|     7033500.0|               null|                null|                   0.0|       Mortgage|               -31|       null|
|    402440|     5714475|       Active|     currency 1|        -96|                 0|              269.0|             null|                   0.0|                 0|       89910.0|            76905.0|                 0.0|                   0.0|Consumer credit|               -22|       null|
|    238881|     5714482|       Closed|     currency 1|       -318|                 0|             -187.0|           -187.0|                  null|                 0|           0.0|                0.0|                 0.0|                   0.0|    Credit card|              -185|       null|
|    238881|     5714484|       Closed|     currency 1|      -2911|                 0|            -2607.0|          -2604.0|                  null|                 0|       48555.0|               null|                null|                   0.0|Consumer credit|             -2601|       null|
|    238881|     5714485|       Closed|     currency 1|      -2148|                 0|            -1595.0|           -987.0|                  null|                 0|      135000.0|               null|                null|                   0.0|Consumer credit|              -984|       null|
|    238881|     5714486|       Active|     currency 1|       -381|                 0|               null|             null|                  null|                 0|      450000.0|           520920.0|                null|                   0.0|Consumer credit|                -4|       null|
|    238881|     5714487|       Active|     currency 1|        -95|                 0|             1720.0|             null|                  null|                 0|       67500.0|             8131.5|                null|                   0.0|    Credit card|                -7|       null|
|    238881|     5714488|       Closed|     currency 1|       -444|                 0|              -77.0|            -77.0|                   0.0|                 0|     107184.06|                0.0|                 0.0|                   0.0|Consumer credit|               -71|       null|
+----------+------------+-------------+---------------+-----------+------------------+-------------------+-----------------+----------------------+------------------+--------------+-------------------+--------------------+----------------------+---------------+------------------+-----------+
only showing top 20 rows

In [28]:
bureau.printSchema()

root
 |-- SK_ID_CURR: integer (nullable = true)
 |-- SK_ID_BUREAU: integer (nullable = true)
 |-- CREDIT_ACTIVE: string (nullable = true)
 |-- CREDIT_CURRENCY: string (nullable = true)
 |-- DAYS_CREDIT: integer (nullable = true)
 |-- CREDIT_DAY_OVERDUE: integer (nullable = true)
 |-- DAYS_CREDIT_ENDDATE: double (nullable = true)
 |-- DAYS_ENDDATE_FACT: double (nullable = true)
 |-- AMT_CREDIT_MAX_OVERDUE: double (nullable = true)
 |-- CNT_CREDIT_PROLONG: integer (nullable = true)
 |-- AMT_CREDIT_SUM: double (nullable = true)
 |-- AMT_CREDIT_SUM_DEBT: double (nullable = true)
 |-- AMT_CREDIT_SUM_LIMIT: double (nullable = true)
 |-- AMT_CREDIT_SUM_OVERDUE: double (nullable = true)
 |-- CREDIT_TYPE: string (nullable = true)
 |-- DAYS_CREDIT_UPDATE: integer (nullable = true)
 |-- AMT_ANNUITY: double (nullable = true)

Selecione um único indivíduo da tabela principal, filtrar este indivíduo na tabela bureau e verificar seu comportamento transacional

O ID (SK_ID_CURR) escolhido foi 100002:

In [29]:
### vamos filtrar o indivíduo 100002
spark.sql("""
            select 
                 *
            from 
              bureau
            where 
            SK_ID_CURR =  100002 
""").show()

+----------+------------+-------------+---------------+-----------+------------------+-------------------+-----------------+----------------------+------------------+--------------+-------------------+--------------------+----------------------+---------------+------------------+-----------+
|SK_ID_CURR|SK_ID_BUREAU|CREDIT_ACTIVE|CREDIT_CURRENCY|DAYS_CREDIT|CREDIT_DAY_OVERDUE|DAYS_CREDIT_ENDDATE|DAYS_ENDDATE_FACT|AMT_CREDIT_MAX_OVERDUE|CNT_CREDIT_PROLONG|AMT_CREDIT_SUM|AMT_CREDIT_SUM_DEBT|AMT_CREDIT_SUM_LIMIT|AMT_CREDIT_SUM_OVERDUE|    CREDIT_TYPE|DAYS_CREDIT_UPDATE|AMT_ANNUITY|
+----------+------------+-------------+---------------+-----------+------------------+-------------------+-----------------+----------------------+------------------+--------------+-------------------+--------------------+----------------------+---------------+------------------+-----------+
|    100002|     6158904|       Closed|     currency 1|      -1125|                 0|            -1038.0|          -1038.0|                  null|                 0|       40761.0|               null|                null|                   0.0|    Credit card|             -1038|        0.0|
|    100002|     6158905|       Closed|     currency 1|       -476|                 0|               null|            -48.0|                  null|                 0|           0.0|                0.0|                null|                   0.0|    Credit card|               -47|       null|
|    100002|     6158906|       Closed|     currency 1|      -1437|                 0|            -1072.0|          -1185.0|                   0.0|                 0|      135000.0|                0.0|                 0.0|                   0.0|Consumer credit|             -1185|        0.0|
|    100002|     6158907|       Closed|     currency 1|      -1121|                 0|             -911.0|           -911.0|                3321.0|                 0|       19071.0|               null|                null|                   0.0|Consumer credit|              -906|        0.0|
|    100002|     6158908|       Closed|     currency 1|       -645|                 0|               85.0|            -36.0|              5043.645|                 0|      120735.0|                0.0|                 0.0|                   0.0|Consumer credit|               -34|        0.0|
|    100002|     6158909|       Active|     currency 1|       -103|                 0|               null|             null|                  40.5|                 0|     31988.565|                0.0|           31988.565|                   0.0|    Credit card|               -24|        0.0|
|    100002|     6158903|       Active|     currency 1|      -1042|                 0|              780.0|             null|                  null|                 0|      450000.0|           245781.0|                 0.0|                   0.0|Consumer credit|                -7|        0.0|
|    100002|     6113835|       Closed|     currency 1|      -1043|                 0|               62.0|           -967.0|                   0.0|                 0|       67500.0|               null|                null|                   0.0|    Credit card|              -758|        0.0|
+----------+------------+-------------+---------------+-----------+------------------+-------------------+-----------------+----------------------+------------------+--------------+-------------------+--------------------+----------------------+---------------+------------------+-----------+

In [30]:
spark.sql("""
            select 
              CREDIT_ACTIVE,
              count(*) as Volume
                 
            from 
              bureau
            group by
            CREDIT_ACTIVE
            order by 
            Volume desc  
             
""").show()

+-------------+-------+
|CREDIT_ACTIVE| Volume|
+-------------+-------+
|       Closed|1079273|
|       Active| 630607|
|         Sold|   6527|
|     Bad debt|     21|
+-------------+-------+

In [31]:
spark.sql("""
            select 
              CREDIT_CURRENCY,
              count(*) as Volume
                 
            from 
              bureau
            group by
            CREDIT_CURRENCY
            order by 
            Volume desc  
             
""").show()

+---------------+-------+
|CREDIT_CURRENCY| Volume|
+---------------+-------+
|     currency 1|1715020|
|     currency 2|   1224|
|     currency 3|    174|
|     currency 4|     10|
+---------------+-------+

In [32]:
spark.sql("""
            select 
              DAYS_CREDIT,
              count(*) as Volume
                 
            from 
              bureau
            group by
            DAYS_CREDIT
            order by 
            Volume desc  
             
""").show()

+-----------+------+
|DAYS_CREDIT|Volume|
+-----------+------+
|       -364|  1330|
|       -336|  1248|
|       -273|  1238|
|       -357|  1218|
|       -343|  1203|
|       -315|  1202|
|       -371|  1196|
|       -365|  1194|
|       -210|  1193|
|       -245|  1192|
|       -329|  1190|
|       -420|  1189|
|       -259|  1189|
|       -182|  1180|
|       -175|  1174|
|       -363|  1162|
|       -301|  1160|
|       -392|  1157|
|       -308|  1154|
|       -196|  1152|
+-----------+------+
only showing top 20 rows

# Indicadores Preditivos (Variáveis Explicativas)

In [33]:
# carregar dados do tabela metadados
metadados = spark.read.csv("/content/drive/MyDrive/SQLMMs/InputData/HomeCredit_columns_description.csv", inferSchema=True, header=True)
 
metadados.registerTempTable('metadados')
 
metadados.count()

219

In [34]:
spark.sql("""
            select 
                 *
            from 
              metadados
            where Table = 'bureau.csv' 
""").show(100,False)

+---+----------+----------------------+-------------------------------------------------------------------------------------------------------------------+-------------------------------------+
|_c0|Table     |Row                   |Description                                                                                                        |Special                              |
+---+----------+----------------------+-------------------------------------------------------------------------------------------------------------------+-------------------------------------+
|125|bureau.csv|SK_ID_CURR            |ID of loan in our sample - one loan in our sample can have 0,1,2 or more related previous credits in credit bureau |hashed                               |
|126|bureau.csv|SK_BUREAU_ID          |Recoded ID of previous Credit Bureau credit related to our loan (unique coding for each loan application)          |hashed                               |
|127|bureau.csv|CREDIT_ACTIVE         |Status of the Credit Bureau (CB) reported credits                                                                  |null                                 |
|128|bureau.csv|CREDIT_CURRENCY       |Recoded currency of the Credit Bureau credit                                                                       |recoded                              |
|129|bureau.csv|DAYS_CREDIT           |How many days before current application did client apply for Credit Bureau credit                                 |time only relative to the application|
|130|bureau.csv|CREDIT_DAY_OVERDUE    |Number of days past due on CB credit at the time of application for related loan in our sample                     |null                                 |
|131|bureau.csv|DAYS_CREDIT_ENDDATE   |Remaining duration of CB credit (in days) at the time of application in Home Credit                                |time only relative to the application|
|132|bureau.csv|DAYS_ENDDATE_FACT     |Days since CB credit ended at the time of application in Home Credit (only for closed credit)                      |time only relative to the application|
|133|bureau.csv|AMT_CREDIT_MAX_OVERDUE|Maximal amount overdue on the Credit Bureau credit so far (at application date of loan in our sample)              |null                                 |
|134|bureau.csv|CNT_CREDIT_PROLONG    |How many times was the Credit Bureau credit prolonged                                                              |null                                 |
|135|bureau.csv|AMT_CREDIT_SUM        |Current credit amount for the Credit Bureau credit                                                                 |null                                 |
|136|bureau.csv|AMT_CREDIT_SUM_DEBT   |Current debt on Credit Bureau credit                                                                               |null                                 |
|137|bureau.csv|AMT_CREDIT_SUM_LIMIT  |Current credit limit of credit card reported in Credit Bureau                                                      |null                                 |
|138|bureau.csv|AMT_CREDIT_SUM_OVERDUE|Current amount overdue on Credit Bureau credit                                                                     |null                                 |
|139|bureau.csv|CREDIT_TYPE           |Type of Credit Bureau credit (Car, cash,...)                                                                       |null                                 |
|140|bureau.csv|DAYS_CREDIT_UPDATE    |How many days before loan application did last information about the Credit Bureau credit come                     |time only relative to the application|
|141|bureau.csv|AMT_ANNUITY           |Annuity of the Credit Bureau credit                                                                                |null                                 |
+---+----------+----------------------+-------------------------------------------------------------------------------------------------------------------+-------------------------------------+

#Criar uma nova tabela spark

In [35]:
df_bureau_01 = spark.sql("""
            select 
                 SK_ID_CURR,
                 round(avg(DAYS_CREDIT),2) as AVG_DAYS_CREDIT
            from 
              bureau
            group by 
              SK_ID_CURR
""")
 
df_bureau_01.registerTempTable('df_bureau_01')
 
df_bureau_01.count()

305811

In [36]:
### vamos filtrar o indivíduo 100002
spark.sql("""
            select 
                 *
            from 
              df_bureau_01
            where 
            SK_ID_CURR =  100002 
""").show()

+----------+---------------+
|SK_ID_CURR|AVG_DAYS_CREDIT|
+----------+---------------+
|    100002|         -874.0|
+----------+---------------+

Exercício: crie variáveis preditivas, aplicando as estatísticas min, max e avg, para todas as variáveis numéricas contidas na tabela Bureau

# Mínimo

In [48]:
df_bureau_01 = spark.sql("""
            select 
                 SK_ID_CURR,
                 round(min(DAYS_CREDIT_ENDDATE),2) as MIN_DAYS_CREDIT_ENDDATE 
            from 
              bureau
            group by 
              SK_ID_CURR
""")
 
df_bureau_01.registerTempTable('df_bureau_01')
 
df_bureau_01.count()

305811

In [57]:
df_bureau_01 = spark.sql("""
            select 
                 SK_ID_CURR,
                 round(min(DAYS_CREDIT),2) as MIN_DAYS_CREDIT
            from 
              bureau
            group by 
              SK_ID_CURR
""")
 
df_bureau_01.registerTempTable('df_bureau_01')
 
df_bureau_01.count()

305811

In [56]:
df_bureau_01 = spark.sql("""
            select 
                 SK_ID_CURR,
                 round(min(DAYS_ENDDATE_FACT),2) as MIN_DAYS_ENDDATE_FACT     
            from 
              bureau
            group by 
              SK_ID_CURR
""")
 
df_bureau_01.registerTempTable('df_bureau_01')
 
df_bureau_01.count()

305811

In [51]:
df_bureau_01 = spark.sql("""
            select 
                 SK_ID_CURR,
                 round(min(DAYS_CREDIT_UPDATE),2) as MIN_DAYS_CREDIT_UPDATE        
            from 
              bureau
            group by 
              SK_ID_CURR
""")
 
df_bureau_01.registerTempTable('df_bureau_01')
 
df_bureau_01.count()

305811

In [55]:
### vamos filtrar o indivíduo 100002
spark.sql("""
            select 
                 *
            from 
              df_bureau_01
            where 
            SK_ID_CURR =  100002 
""").show()

+----------+----------------------+
|SK_ID_CURR|MIN_DAYS_CREDIT_UPDATE|
+----------+----------------------+
|    100002|                 -1185|
+----------+----------------------+

# Máximo

In [58]:
df_bureau_01 = spark.sql("""
            select 
                 SK_ID_CURR,
                 round(max(DAYS_CREDIT_UPDATE),2) as Max_DAYS_CREDIT_UPDATE        
            from 
              bureau
            group by 
              SK_ID_CURR
""")
 
df_bureau_01.registerTempTable('df_bureau_01')
 
df_bureau_01.count()

305811

In [59]:
### vamos filtrar o indivíduo 100002
spark.sql("""
            select 
                 *
            from 
              df_bureau_01
            where 
            SK_ID_CURR =  100002 
""").show()

+----------+----------------------+
|SK_ID_CURR|Max_DAYS_CREDIT_UPDATE|
+----------+----------------------+
|    100002|                    -7|
+----------+----------------------+

In [60]:
df_bureau_01 = spark.sql("""
            select 
                 SK_ID_CURR,
                 round(max(DAYS_CREDIT),2) as Max_DAYS_CREDIT                   
            from 
              bureau
            group by 
              SK_ID_CURR
""")
 
df_bureau_01.registerTempTable('df_bureau_01')
 
df_bureau_01.count()

305811

In [61]:
### vamos filtrar o indivíduo 100002
spark.sql("""
            select 
                 *
            from 
              df_bureau_01
            where 
            SK_ID_CURR =  100002 
""").show()

+----------+---------------+
|SK_ID_CURR|Max_DAYS_CREDIT|
+----------+---------------+
|    100002|           -103|
+----------+---------------+

In [64]:
df_bureau_01 = spark.sql("""
            select 
                 SK_ID_CURR,
                 round(max(DAYS_CREDIT_ENDDATE),2) as Max_DAYS_CREDIT_ENDDATE                          
            from 
              bureau
            group by 
              SK_ID_CURR
""")
 
df_bureau_01.registerTempTable('df_bureau_01')
 
df_bureau_01.count()

305811

In [65]:
### vamos filtrar o indivíduo 100002
spark.sql("""
            select 
                 *
            from 
              df_bureau_01
            where 
            SK_ID_CURR =  100002 
""").show()

+----------+-----------------------+
|SK_ID_CURR|Max_DAYS_CREDIT_ENDDATE|
+----------+-----------------------+
|    100002|                  780.0|
+----------+-----------------------+

# Média

In [66]:
df_bureau_01 = spark.sql("""
            select 
                 SK_ID_CURR,
                 round(avg(DAYS_CREDIT),2) as AVG_DAYS_CREDIT
            from 
              bureau
            group by 
              SK_ID_CURR
""")
 
df_bureau_01.registerTempTable('df_bureau_01')
 
df_bureau_01.count()

305811

In [67]:
### vamos filtrar o indivíduo 100002
spark.sql("""
            select 
                 *
            from 
              df_bureau_01
            where 
            SK_ID_CURR =  100002 
""").show()

+----------+---------------+
|SK_ID_CURR|AVG_DAYS_CREDIT|
+----------+---------------+
|    100002|         -874.0|
+----------+---------------+

In [68]:
df_bureau_01 = spark.sql("""
            select 
                 SK_ID_CURR,
                 round(avg(DAYS_CREDIT_ENDDATE),2) as AVG_DAYS_CREDIT_ENDDATE   
            from 
              bureau
            group by 
              SK_ID_CURR
""")
 
df_bureau_01.registerTempTable('df_bureau_01')
 
df_bureau_01.count()

305811

In [69]:
### vamos filtrar o indivíduo 100002
spark.sql("""
            select 
                 *
            from 
              df_bureau_01
            where 
            SK_ID_CURR =  100002 
""").show()

+----------+-----------------------+
|SK_ID_CURR|AVG_DAYS_CREDIT_ENDDATE|
+----------+-----------------------+
|    100002|                 -349.0|
+----------+-----------------------+

In [70]:
df_bureau_01 = spark.sql("""
            select 
                 SK_ID_CURR,
                 round(avg(DAYS_ENDDATE_FACT),2) as AVG_DAYS_ENDDATE_FACT        
            from 
              bureau
            group by 
              SK_ID_CURR
""")
 
df_bureau_01.registerTempTable('df_bureau_01')
 
df_bureau_01.count()

305811

In [71]:
### vamos filtrar o indivíduo 100002
spark.sql("""
            select 
                 *
            from 
              df_bureau_01
            where 
            SK_ID_CURR =  100002 
""").show()

+----------+---------------------+
|SK_ID_CURR|AVG_DAYS_ENDDATE_FACT|
+----------+---------------------+
|    100002|               -697.5|
+----------+---------------------+

In [72]:
df_bureau_01 = spark.sql("""
            select 
                 SK_ID_CURR,
                 round(avg(DAYS_CREDIT_UPDATE),2) as AVG_DAYS_CREDIT_UPDATE            
            from 
              bureau
            group by 
              SK_ID_CURR
""")
 
df_bureau_01.registerTempTable('df_bureau_01')
 
df_bureau_01.count()

305811

In [73]:
### vamos filtrar o indivíduo 100002
spark.sql("""
            select 
                 *
            from 
              df_bureau_01
            where 
            SK_ID_CURR =  100002 
""").show()

+----------+----------------------+
|SK_ID_CURR|AVG_DAYS_CREDIT_UPDATE|
+----------+----------------------+
|    100002|               -499.88|
+----------+----------------------+

# Indicadores Preditivos considerando regras de negócio.

In [ ]:
def_bureau_01 = spark.sql( """
             select
                 SK_ID_CURR,
                 round(avg(abs(DAYS_CREDIT)), 2) as AVG_DAYS_CREDIT,
                 round(avg(case when CREDIT_ACTIVE in ('Active') then abs(DAYS_CREDIT) else 0 end),2) as AVG_CRED_ACTV_ACTIVE,
                 round(avg(case when CREDIT_ACTIVE in ('Closed') then abs(DAYS_CREDIT) else 0 end),2) as AVG_CRED_ACTV_CLOSE,
                 round(avg(case when CREDIT_ACTIVE in ('Sold') then abs(DAYS_CREDIT) else 0 end),2) as AVG_CRED_ACTV_SOLD,
                 round(avg(case when CREDIT_ACTIVE in ('Bad debt') then abs(DAYS_CREDIT) else 0 end),2) as AVG_CRED_ACTV_BADDBT,

                 round(sum(abs(DAYS_CREDIT)),2 as SUM_DAYS_CREDIT,
                 round(sum(case when CREDIT_ACTIVE in ('Active')then abs(DAYS_CREDIT)else 0 end),2) as SUM_CRED_ACTV_ACTIVE,
                 round(sum(case when CREDIT_ACTIVE in ('Closed')then abs(DAYS_CREDIT)else 0 end),2) as SUM_CRED_ACTV_CLOSE,
                 round(sum(case when CREDIT_ACTIVE in ('Sold')then abs(DAYS_CREDIT)else 0 end),2) as SUM_CRED__ACTV_SOLD,
                 round(sum(case when CREDIT_ACTIVE in ('Bad debt')then abs(DAYS_CREDIT)else 0 end),2) as SUM_CRED_ACTV_BADDBT

            from 
              bureau
            group by 
            SK_ID_CURR 

  """)

def_bureau_01.registerTempTable('def_bureau_01')

def_bureau_01.count()

In [ ]:
def_bureau_01.show()

In [ ]:
### vamos filtrar o indivíduo 100002
spark.sql("""
            select 
                 *
            from 
              df_bureau_01
            where 
            SK_ID_CURR =  100002 
""").show()

# Compondo ABT considerando os indicadores preditivos da tabela Bureau.

In [76]:
 features_expl_list = df_bureau_01.columns
 for feat in features_expl_list:
   var = 'b.' + feat + ','
   print(var)

b.SK_ID_CURR,
b.AVG_DAYS_CREDIT_UPDATE,

In [ ]:
abt_bureau = spark.sql("""
          Select 
 
          a.*,
          b.AVG_DAYS_CREDIT,
          b.AVG_CRED_ACTV_ACTIVE,
          b.AVG_CRED_ACTV_CLOSED,
          b.AVG_CRED_ACTV_SOLD,
          b.AVG_CRED_ACTV_BADDBT,
          b.SUM_DAYS_CREDIT,
          b.SUM_CRED_ACTV_ACTIVE,
          b.SUM_CRED_ACTV_CLOSED,
          b.SUM_CRED_ACTV_SOLD,
          b.SUM_CRED_ACTV_BADDBT,
          b.MIN_DAYS_CREDIT,
          b.MIN_CRED_ACTV_ACTIVE,
          b.MIN_CRED_ACTV_CLOSED,
          b.MIN_CRED_ACTV_SOLD,
          b.MIN_CRED_ACTV_BADDBT
 
          from app_train  as a
          left join 
          df_bureau_01 as b
          on
          a.SK_ID_CURR = b.SK_ID_CURR
 
 """)
 
abt_bureau.registerTempTable('abt_bureau')
 
abt_bureau.count()

Agora vamos salvar a tabela gerada no diretório das **ABTs** **negrito**

In [ ]:
abt_bureau.write.mode('overwrite').parquet("/content/drive/MyDrive/SQLMMs/ABT/VARS_BUREAU")

In [ ]:
read_abt_bureau = spark.read.format("parquet").load("/content/drive/MyDrive/SQLMMs/ABT/VARS_BUREAU")
 
read_abt_bureau.count()